*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outputEffect{
    display: flex;
}
.outputConcern{
    display: flex;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    text-align: center;
}
